body {
  background-color: hsl(212, 45%, 89%);
  font-family: 'Outfit', sans-serif;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;

  /* https://stackoverflow.com/questions/388180/how-to-make-an-image-center-vertically-horizontally-inside-a-bigger-div */
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.card {
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 19%;
  border-radius: 10px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

img {
  /* center image horizontally: */
  margin: auto;
  display: block;
  /* end center image */
  border-radius: 7%;
  width: 90%;
  /* padding: 10px; */
  padding: 10px 10px 0 10px;
}

.container {
  padding: 2px 16px;
}

h4,
p {
  text-align: center;
}

p {
  font-size: 12px;
  color: hsl(220, 15%, 55%);
}
