body {
  background-color: hsl(212, 45%, 89%);
  font-family: 'Outfit', sans-serif;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.card {
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 19%;
  border-radius: 10px;
}

img {
  margin: auto;
  display: block;
  border-radius: 7%;
  width: 90%;
  padding: 10px;
}

.container {
  padding: 2px 16px;
}

h4 {
  padding-top: 5px;
}

h4,
p {
  text-align: center;
  margin: 0;
}

p {
  font-size: 11px;
  color: hsl(220, 15%, 55%);
  margin: 10px 10px 25px 10px;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 1050px) {
  img {
    padding: 10px 5px;
  }

  .container {
    padding: 2px 16px;
  }
}

@media only screen and (max-width: 745px) {
  img {
    padding: 8px 5px;
  }

  h4 {
    font-size: 15px;
  }
}

@media only screen and (max-width: 600px) {
  img {
    padding: 5px 5px;
    border-radius: 10px;
  }
}

@media only screen and (max-width: 412px) {
  img {
    padding: 5px 3px;
    border-radius: 10px;
  }

  .container {
    padding: 2px 16px;
  }

  h4 {
    font-size: 10px;
  }

  p {
    font-size: 8.5px;
    text-align: center;
  }
}
